@using Orchard.Environment.Configuration
@model dynamic

@{
    var urlPrefix = WorkContext.Resolve<ShellSettings>().RequestUrlPrefix;
}

<a class="brand" href="~/@urlPrefix">
    <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/logo.png"))"></a>