<div class="data">
    <span class="number">@T("Stay up to date")</span>
</div>
<div style="margin-left: -16px;">
    <iframe id="advisory" src="http://www.orchardproject.net/advisory" frameborder="0" height="100%" width="100%" scrolling="no">
        <p>@T("Your browser does not support iframes. You can't see advisory messages.")</p>
    </iframe>
</div>
